<% @tweets.each do |tweet| %>
  -$('#tweets').append('<div class="tweet"><%= j render('tweet', tweet: tweet, user: @user) %></div>');
<% end %>
<% if @tweets.present? %>
  -$('#fetching-next').attr('id', 'next')
  -$('#next').attr('last_id', '<%= @tweets.last.id %>')
<% end %>
