<% @tweets.each do |tweet| %>
  -$('#tweets').append('<div class="tweet"><%= j tweet.embed_html&.html_safe %></div>');
<% end %>
<% if @tweets.present? %>
  -$('#fetching-next').attr('id', 'next')
  -$('#next').attr('last_id', '<%= @tweets.last.id %>')
<% end %>
