p.container {
  height: 200px;
  background-color: #cccccc;
}

p.fetching-container {
  height: 200px;
  background-color: #cccccc;
}

twitterwidget {
  width: 100%;
}

#twitter-widget-0{
  width:100% !important;
}
